/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


#main_logo {
	height: 200px;
	width: 800px;
	margin: 0 auto;
	margin-top: 20px;
	background: url('main_logo.png') no-repeat center;
	
}

	
#wahdler_email {
	    border: 2px solid #FF9800;
	    border-radius: 4px 4px 4px 4px;
		border-width: 5px;
		width: 500px;
		height: 40px;
		font-size: 20px;
		padding: 0 2px;
		
	}

#form_container {
	margin: 0 auto;

}

div.clr {
	clear: both;
}

#new_wahdler {
	margin: 0 auto;
	color: #858688;
	font: 40px 'Varela Round', sans-serif;
	width: 500px;
	height: 40px;
}



#twitter_button {
	float: right;
}
#button input {
	color: #333333;
	background-color: #DDDDDD;
	width: 100px;
	height: 25px;
	border-radius: 10px;
	float: right;
	margin: 10px;
	font: 15px 'Varela Round';
}

#tagline {
	font-family: 'Varela Round', sans-serif;
	font-size: 40px;
	color: #858688;
	width: 800px;
	margin: 0 auto;
	
}


body {
	margin: 0 auto;
	width: 960px;

}